<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00474276
    </ion-title>

    <h3 *ngIf="newSearch">Search Results</h3> 
    <h3 *ngIf="!newSearch">Today’s Trending Movies</h3>

      <ion-buttons slot="end">
        <ion-button routerLink="/favourites">
          <ion-icon name="heart" aria-label="Favorite"></ion-icon>
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <ion-item>
    <ion-input [(ngModel)]="newSearch" label="Movie Search" placeholder="Enter Search Here"></ion-input>
  </ion-item>

<ion-button (click)="setKeyword()">Search</ion-button> 

  <ion-card *ngFor="let movie of movies"[routerLink]="['/movie-details', movie.id]">

    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />

    <ion-card-header>
      <ion-card-title>
        {{ movie.title }}
      </ion-card-title>

      <ion-card-subtitle>
        {{ movie.release_date }}
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      {{ movie.overview }}
    </ion-card-content>

    <ion-button size="small" [routerLink]="['/movie-details', movie.id]">
      Details
    </ion-button>

  </ion-card>

</ion-content>
